<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">

  <p><br></p>
  <h1 class="title">Update User</h1>

  <form action="/update" method="post">

    <div class="field">
      <label class="label">Customer Number</label>
      <div class="control">
        <input class="input" type="text" name="custNo" placeholder="Customer Number"
               th:value="${customer != null ? customer.customerNumber : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input class="input" type="text" name="firstName" placeholder="First Name"
               th:value="${customer != null ? customer.firstName : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" name="lastName" placeholder="Last Name"
               th:value="${customer != null ? customer.lastName : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">Birthdate</label>
      <div class="control">
        <input class="input" type="text" name="birthDate" placeholder="Birthdate"
               th:value="${customer != null ? customer.birthDate : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">Social Security Number</label>
      <div class="control">
        <input class="input" type="text" name="ssn" placeholder="SSN"
               th:value="${customer != null ? customer.ssn : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">Credit Card Number</label>
      <div class="control">
        <input class="input" type="text" name="ccn" placeholder="CCN"
               th:value="${customer != null ? customer.ccn : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <input class="input" type="text" name="address" placeholder="Address"
               th:value="${customer != null ? customer.address : ''}">
      </div>
    </div>

    <div class="field">
      <label class="label">Salary</label>
      <div class="control">
        <input class="input" type="text" name="salary" placeholder="Yearly Salary"
               th:value="${customer != null ? customer.salary : ''}">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>
      <div class="control">
        <a class="button is-text" href="/records">Cancel</a>
      </div>
    </div>

  </form>

</div>
</body>
</html>
